@mixin rightArrow($size: 6px, $border-color: #909090) {
  position: absolute;
  content: '';
  border: 0 solid $border-color;
  border-top-width: 1px;
  border-right-width: 1px;
  width: $size;
  height: $size;
  transform: rotate(45deg);
}

@mixin downArrow($size: 6px, $border-color: #909090) {
  position: absolute;
  content: '';
  border: 0 solid $border-color;
  border-top-width: 1px;
  border-right-width: 1px;
  width: $size;
  height: $size;
  transform: rotate(135deg);
}
