$darkColor: #454545;
$lightColor: lighten($darkColor, 40%);

$bgColor: #fff;
$activeBgColor: #fafafa;
$loadingBgColor: #fefefe;

$linkColor: #3464e1;
$lineColor: #eaeaea;

$fontSize: 0.8rem;
$fontSizeSm: 0.7rem;
$fontSizeLg: 0.9rem;
$fontSizeMini: 0.1rem;

$distance: 8px;
$distanceLg: 10px;

$headerHeight: 48px;
